@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --uncc-gold: rgb(164 150 101);
  --uncc-green: rgb(0 80 53);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gold-underline {
  position: relative;
}

.gold-underline::after {
  content: '';
  position: absolute;
  background: var(--uncc-gold);
  height: 5px;
  width: 100%;
}

.navbar-item {
  color: white;
  transition: color 0.5s ease, background-color 0.5s ease;
  background-color: var(--uncc-gold);
  border-radius: 5px;
  padding: 5px 10px;
}

.navbar-item:hover {
  color: var(--uncc-gold);
  background-color: white;
}

.uncc-button {
  background-color: var(--uncc-green);
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 5px;
}

.uncc-button:hover {
  background-color: white;
  color: var(--uncc-green);
}

.bg-uncc-green {
  background-color: var(--uncc-green);
}

.scrolling-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  background-color: #1c3c29; 
}

.scrolling-pattern {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 200%; 
  height: 110%;
  flex-wrap: wrap;
}

.logo-pattern {
  flex: 0 0 8vw; 
  height: 13.6vw;
  object-fit: contain;
  opacity: .3;
}

.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(16, 34, 23, 1) 0%, 
    rgba(16, 34, 23, 0) 20%, 
    rgba(16, 34, 23, 0) 80%, 
    rgba(16, 34, 23, 1) 100% 
  );
  z-index: 3; 
}

.form-background {
  background: var(--uncc-gold);
  border-radius: 5px;
}