@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --uncc-gold: rgb(164 150 101);
  --uncc-green: rgb(0 80 53);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gold-underline {
  position: relative;
}

.gold-underline::after {
  content: '';
  position: absolute;
  background: var(--uncc-gold);
  height: 5px;
  width: 100%;
}

.navbar-item {
  color: white;
  transition: color 0.5s ease, background-color 0.5s ease;
  background-color: var(--uncc-gold);
  border-radius: 5px;
  padding: 5px 10px;
}

.navbar-item:hover {
  color: var(--uncc-gold);
  background-color: white;
}

.bg-uncc-green {
  background-color: var(--uncc-green);
}